* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/bg_texture.png);
}

main {
    width: 960px;
    margin:auto;
  
}

header {   
    position: fixed;
    margin-top: 0%;
    width: 100%;
    height: 70px;
    background-color: #0067dc;
    z-index: 100%;
}

.area-logo {
   margin-left: 10%;
   float: left;


}

.area-logo img {
    max-height: 60px;
    
}

.menu {
    float: right;
    margin-right: 10%;
    
    
}

.menu nav {
    margin: 20px;    
}

/* li */
/* ul li */
/* .menu nav ul li { */
/* .menu nav li { */
.item {
    display: inline-block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.menu nav li:hover {

}

.banner {
    height: 530px;
    background-image: url(/img/banner.png);
    background-position: center 70px;
    background-repeat: no-repeat;
    background-size: 600px;
}

section {
    background-color: white;
}

.titulo {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    margin-bottom: 10px;
}

.history .texto {
    padding: 25px;
    text-align: justify;
}

.history .texto img {
    float: right;
    padding: 20px;
    width: 150px;
}

.games {
    background-image: url(/img/background.jpeg);
    background-attachment: fixed;
    background-size: 100%;
    height: 850px;


    
}

.games .titulo {
    background-color: #0067dc;
    padding: 30px;
}

.games-texto {
    position: relative;
   
}

.games .texto1,
.games .texto2,
.games .texto3,
.games .texto4 {
    position: absolute;
    width: 50%;
    color: black;

}

.games .texto1 {
    right: 0;
}

.games .texto2 {
    top: 130px;
    left: 0;
}

.games .texto3 {
    top: 280px;
    right: 0;

}

.games .texto4 {
    top: 420px;
    left: 0;
}


.texto1 img,
.texto2 img,
.texto4 img {
    width: 50%;
}

.texto3 img {
    width: 35%;
}

footer {
    background-image: url(/img/footer.png);
    background-size: 100%;
    height: 380px;

}